body {
  background: url("../img/bg.jpg");
}
.column {
  background-color: #aee1f2;
  float: left;
  width: 24%;
  border: 1px #000 solid;
}
.column h3 {
  text-align: center;
}
.column p {
  padding-right: 10px;
  padding-left: 10px;
  line-height: 1.4;
}
.column img {
  display: block;
  margin: auto;
}
h1 {
  font-size: 45px;
}
h2 {
  text-align: center;
  font-weight: 100;
}

@media screen and (max-width: 1050px) and (min-width: 780px) {
  .column {
    width: 33%;
  }
}
@media screen and (max-width: 780px) and (min-width: 600px) {
  .column {
    width: 49.5%;
  }
  h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 600px){
  .column {
    width: 99%;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
}
